[Unit]
Description=Janus WebRTC gateway
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/janus -C /etc/janus/janus.cfg -o
PIDFile=/var/run/janus.pid
Restart=on-abnormal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
